services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=todo_db
      - POSTGRES_USER=todo_user
      - POSTGRES_PASSWORD=todo_pass
    networks:
      - todo_network

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - DB_NAME=todo_db
      - DB_USER=todo_user
      - DB_PASS=todo_pass
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - db
    networks:
      - todo_network

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://3.237.66.221:8000/api
    depends_on:
      - backend
    networks:
      - todo_network

networks:
  todo_network:
    driver: bridge

volumes:
  postgres_data:
